{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <!-- ... -->
    </div>
{% endblock %}

{% block content %}
    <h1>Grozov Ilya Andreevich 4 course 4 group, 2018</h1>
    <h3>Invoices</h3>
    <h4 class="m-4">Create invoice</h4>
    <form method="POST" action="/add/invoice">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCustomer">Customer</label>
                <select name="customer" class="form-control" id="inputCustomer">
                    {% for customer in customers %}
                        <option value={{ customer.CustomerId }}>{{ format_customer(customer) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputDate">Invoice date</label>
                <input name="date" type="date" class="form-control" id="inputDate" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Billing Address</label>
                <textarea name="address" class="form-control" id="inputAddress" rows="3"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="inputTotal">Total</label>
                <input name="total" type="number" class="form-control" id="inputTotal" min="0.01" step="0.01">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-success" id="invoiceAdd">
            </div>
        </div>
    </form>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Customer ID</th>
            <th>Invoice Date</th>
            <th>Billing Address</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.InvoiceId }}</td>
                <td>{{ invoice.CustomerId }}</td>
                <td>{{ invoice.InvoiceDate }}</td>
                <td>{{ invoice.BillingAddress }}</td>
                <td>{{ invoice.Total }}</td>
                <td>
                    <form method="POST" action="/edit/invoices/{{ invoice.InvoiceId }}">
                        <input type="submit" value="Edit" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    <form method="POST" action="/delete/invoices/{{ invoice.InvoiceId }}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}